

#searchBox {
    padding:1.5rem;
    margin:0 1rem 1rem;
    
}

#resultsBox {
    margin:0 1rem 1rem;
    background-color: #d5d5d5;
    text-align: center;
    padding-bottom: 30px
}

#resultsBox .surveyResults {
    padding:1.5rem;
    box-shadow:0 1px 2px #aaa;
    background:white;
    margin:0 1rem 1rem;
    border-radius:3px;
    text-align: left
}

a.surveyResults {
    .cursor: pointer;
}